fastapi
uvicorn[standard]
pydantic-settings
asyncpg
redis
pydantic
python-dotenv
pwdlib[argon2]
PyJWT
email-validator
python-multipart
pytest
pytest-asyncio
httpx
asgi-lifespan
celery
flower
psycopg2-binary
prometheus-fastapi-instrumentator
python-json-logger
elasticsearch==8.13.0
aiohttp
resend
jinja2